VITE_PUTER_API_KEY=sk_your_puter_api_key_here
VITE_FREE_CLAUDE_URL=http://localhost:8082
VITE_FREE_CLAUDE_TOKEN=freecc
VITE_STORAGE_PATH=/Apps/TodoApp/
VITE_AUTO_SYNC_INTERVAL=30000
VITE_MAX_TODOS=1000
VITE_DEBUG=false